<div class="purple__background">

</div>
<div class="container">
    <div class="link" *ngIf="!loading && !errorMessage" >
        <div class="link__wrapper">
            <div class="img">
                <img [src]="imagePreview? imagePreview: '/assets/avatar.png'"  alt="avatar">
            </div>
            <h1>{{profile.firstName}}</h1>
            <h1>{{profile.lastName}}</h1>

            <h2>{{profile.email}}</h2>

            <app-link-item  *ngFor="let platform of platforms"  [platform]="platform.platform " [link]="platform.link" ></app-link-item>
        </div>
    </div>
</div>

<ngx-spinner *ngIf="loading"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>